body {
  font-family: 'Inter', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
.heroSection {
  height: 100vh;
  background-image: url('./images/Hero-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.heroTextBlock {
  text-align: center;
  color: #ffffff;
  padding-top: 100px;
}
h1 {
  font-family: 'Inter', sans-serif;
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 0px;
}
.heroSubheading {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}
.btn {
  color: #ffffff;
  text-decoration: none;
  background-color: #FF5959;
  padding: 16px 24px;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

.donateTodaySec {
  margin-bottom: 100px;
}
h2 {
  font-family: 'Inter', sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
  color: #121212;
}
.subHeading{
  text-align: center;
  color: #707070;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}
.donateAmount {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  
}
.amountOfDonate {
  width: 25%;
  margin: 20px;
  padding: 15px;
  background-color: #FAFAFA;
  border-radius: 5px;

}
.amountOfDonate p {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #707070;
}
#fadeColor {
  background-color: #FFEEEE;
  border: 2px solid #FF5959;
}
#fadeColor p{
  color: #FF5959;
}
.inputArea input{
  display: block;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #DADADA;
  width: 75%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #B3B3B3;
  outline: none;
  margin-bottom: 20px;
}
#donateBtn {
  margin-left: 44%;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #121212;
}
.cardSubHeading {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}
.donatePlanCards {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px;
}
.donateCard {
  width: 100%;
  margin: 20px;
  padding: 20px 30px;
  border-radius: 5px;
}
#card1 {
  background-color: #4f9da61e;
}
#card2 {
  background-color: #ff595923;
}
#card3 {
  background-color: #00ffee1a;
}

.contribute{
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 100px;
}
.halfSection {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
}
h4 {
  font-family: 'Inter', sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: #121212;
  margin-bottom: 0;
  margin-left: -20px;
}
.contribute p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #707070;
  margin-bottom: 30px;
}

.form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* margin-left: 2%; */
  margin-right: 5%;
  margin-bottom: 100px;
}
.inputBox {
  padding-right: 40px;
  margin-left: -50px;
  text-align: left;
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 1px solid #DADADA;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #B3B3B3;
  margin-bottom: 50px;
}
#formBtn {
  margin-left: -50px;
}
#formHeading {
  margin-left: -55px;
  margin-bottom: 50px;
}

.getUpdate {
  text-align: center;
  margin-bottom: 100px;
}
.subscribeInput{
  background-color: #FFF4D6;
  /* width: 70%; */
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 5px;
}
.subscribeInput input{
  border: none;
  background-color: #D9D9D9;
  padding: 20px 30px;
  border-radius: 5px 0px 0 5px;
  outline: none;
}
.subscribeBtn {
  text-decoration: none;
  background-color: #FF5959;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 0 5px 5px 0;
  margin-left: -3px;
}

footer {
  background-color: #0B0D17;
  text-align: center;
  margin-bottom: -17px;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer h5 {
  font-family: 'Lobster', cursive;
  color: #FF5959;
  font-size: 36px;
  margin-bottom: 0;
}
footer p{
  color: #D9DBE1;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
}